<link rel="stylesheet" href="./../../public/css/style.css">
<div class="navbar">
    <div class="containernav">
        <div class="logo">
            <a href="/"><strong>BS</strong> Photography</a>
        </div>
        <ul>
            <li><a href="/adminindex" class="active">Dashboard</a></li>
            <li><a href="/serviceabout" class="active">Client list</a></li>
            <li><a href="/workcontact" class="active">Bookings</a></li>
            <li><a href="/workcontact" class="active">Contact Me</a></li>
            <li><a href="/imageview" class="active">Our Clicks</a></li>
            <% if (loggedin) { %>
                <li><a href="/logout" class="active" id="logout">Logout</a></li>   
            <% } else { %>
                <li><a href="/login" class="active" id="login">Login/SignUp</a></li>
            <% } %>
        </ul>
    </div>
</div>