<footer>
    <div class="rights">Group3HVSPG 2024 | all rights reserved</div>
    <div class="social social-media">
        <a href="https://www.facebook.com/bhavin.lodhiya.1" class="s-link"><i class="fa fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/bhavin-l-a565a3136/" class="s-link"><i class="fa fa-linkedin-in"></i></a>
        <a href="#facebook.com/mypage" class="s-link"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/bhavin_soni_3180/" class="s-link"><i class="fa fa-instagram"></i></a>
    </div>
</footer>
