<link rel="stylesheet" href="./../../public/css/style.css">
<div class="navbar">
    <div class="containernav">
        <div class="logo">
            <a href="/"><strong>BS</strong> Photography</a>
        </div>
        <ul>
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/serviceabout" class="active">Services & About</a></li>
            <li><a href="/workcontact" class="active">Work & Contact</a></li>
            <li><a href="/booking" class="active">Make Booking</a></li>
        </ul>
    </div>
</div>