<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/header1.ejs') %>
</head>
<body>
    <%- include('partials/navbar1.ejs') %>
    <section class="work" id="work">
        <div class="container">

            <div class="heading">
                <div class="title">
                    Work
                </div>
                <div class="subtitle">
                    My Last Work!
                </div>
            </div>

            <div class="items">
                <% images.forEach(function(image) { %>
                    <div class="item">
                        <img src="<%= image.image_path %>" alt="">
                    </div>
                <% }) %>
            </div>

        </div>
    </section>

    <%- include('partials/footer.ejs') %>
</body>

</html>