<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header1.ejs') %>
        <title>Group3 Project</title>
        
</head>

<body>
    <%- include('partials/navbar1.ejs') %>
    <header class="header" id="home">
        <h1 class="title">
            <span class="welcom">
                I'm A
            </span>
            <br>
            <span class="typewrite">
                Photographer
            </span>
        </h1>
        <h2 class="subtitle">
            Group3
        </h2>
        <div class="social social-media">
            <a href="https://www.facebook.com/bhavin.lodhiya.1" class="social-link">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#twitter" class="social-link">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/vaidik100/" class="social-link">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/bhavin-l-a565a3136/" class="social-link">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </header>
    <%- include('partials/footer.ejs') %>
</body>

</html>