<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/header1.ejs') %>
        <title>Group3 Project</title>
        
</head>

<body>
    <%- include('partials/navbar1.ejs') %>
    <header class="header" id="home">
        <h1 class="title">
            <span class="welcom">
                I'm A
            </span>
            <br>
            <span class="typewrite">
                Photographer
            </span>
        </h1>
        <h2 class="subtitle">
            Group3
        </h2>
       
    </header>
    <%- include('partials/footer.ejs') %>
</body>

</html>