<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service and About page </title>
    <%- include('partials/header1.ejs') %>
</head>

<body>
    <%- include('partials/navbar1.ejs') %>

        <section class="about" id="about">
            <div class="container">

                <div class="items">
                    <div class="item">
                        <div class="heading">
                            <div class="title">
                                About me
                            </div>
                            <div class="subtitle">
                                Read Something about me
                            </div>
                        </div>
                        <div class="content">
                            <p>My name’s Group3, and I am a photographer in Auckland. I have been doing
                                photography for over three years now.
                                I’ve covered many events in Auckland, and still think every events are absolutely
                                magical.
                            </p>
                            <p>
                                There are so many options on which you can select your photo type and place for your photoshoot.
                                <br> <br>
                                The Portrait :- The most often used photo is that of your own headshot. It is simple and
                                gives the client a glimpse of who they will be working with. A good portrait to use is
                                one where you are looking straight at the camera. It would have a feeling that you are
                                looking and communicating directly with your client. It’s like you are already having a
                                connection with them.
                                <br> <br>
                                Candid Shot :- You may want to present yourself as a fun and easy-to-work-with
                                photographer. So, you can use a candid photo of yourself. Or maybe, you can edit your
                                portrait and add some filters, elements, and designs to make it more creative. This
                                works well if you are offering post-processing services as well. This way, clients will
                                have an idea of how artistic you are.
                                <br> <br>
                                Action Shot :- You can also opt to choose a photo showing you at work. A photo showing you
                                on the job means you are serious about your craft. If you have your own studio, this is
                                a good way to showcase it too.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="./../public/images/about-me.png" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </section>


    
        <%- include('partials/footer.ejs') %>
</body>

</html>